<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css">
    <title>Portafolio</title>
</head>
<body>
    <!-- Seccion del encabezado inicio -->
    <header>
        <h1>Bienvenido a mi Portafolio</h1>
        <nav>
            <ul>
                <li><a href="/projectos">Proyectos</a> </li>
                <li><a href="/sobremi">Sobre mí</a> </li>
                <li><a href="#contact">Contacto</a> </li>
            </ul>
        </nav>
    </header>

    <!-- Seccion de los proyectos-->
    <section id="projects">
        <h2>Proyectos Destacados</h2>
       

    </section>
   
    <!-- Seccion sobre mi -->
    <section id="about">
        <h2>Sobre mí</h2>
        <p>Hola, soy un desarrollador apasionado por crear soluciones innovadoras. Aquí encontrarás algunos de mis proyectos más destacados.</p>
    </section>
    
    <!-- Seccion de contacto -->
    <section id="contact">
        <h2>Contacto</h2>
        <p>¿Tienes un proyecto o consulta? deja tu informacion:</p>

        <form action="/opiniones" method="post">
            <label for="name">Nombre:</label>
            <input type="text" id="name" name="name" required>
            <label for="email">Correo electrónico:</label>
            <input type="email" id="email" name="email" required>
            <label for="message">Mensaje:</label>
            <textarea id="message" name="message" rows="4" required></textarea>
            <button type="submit">Enviar</button>
        </form>
    </section>
</body>
</html>