<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css">
    <title>Mis projectos</title>
</head>
<body>
    <header>
        <h1>Bienvenido a mi carrera</h1>
        <nav>
            <ul>
                <h6>Estos son unos de mis projectos mas conocidos</h1>
                <li><a href="#eco calculadora">eco calculadora</a></li>
                <li><a href="#generador de memes">Generador de memes</a></li>
                <li><a href="#base de datos">Base de datos</a></li>
                <li><a href="#ecobot">Ecobot</a></li>
                <li><a href="#generador de contraseñas">Generador de contraseña</a></li>
                <li><a href="#desarollo web">desarollo web</a></li>
            </ul>
        </nav>
    </header>
</body>
</html>