<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css">
    <title>sobre mi</title>
</head>
<body>
    <header>
        <h1> Mi historia</h1>
        <h6>Mi nonbre es Juan Lucas soy de panama tengo 11 años , y me meti a este curso de programacion por que me interesaba y queria aprender</h6>
    </header>

    <h1>sobre mi </h1>
    <h6>a mi me gusta jugar football, ping-pong, y tambien video juegos,
    mi juego favorito es roblox, y fortnite.</h6>
    </p>
</body>
</html>